<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>diff - patchKeyedChildren</title>
    <script src="./vue.global.js"></script>
    <!-- <script src="../packages/vue/dist/vue.global.js"></script> -->
    <style>
      body {
        margin: 0;
        color: #111;
        font-size: 14px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      label {
        width: 80px;
        text-align: right;
        margin-right: 6px;
        display: inline-block;
      }
      ::-webkit-scrollbar {
        width: 7px;
        height: 8px;
      }
      ::-webkit-scrollbar-track {
        background-color: #eee;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #ddd;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: #ccc;
      }
      .board {
        display: flex;
        height: 100vh;
      }
      ul.tests {
        border-right: 1px solid #ccc;
        overflow: auto;
      }
      ul.tests > li {
        padding: 6px;
        cursor: pointer;
      }
      ul.tests > li:hover {
        background-color: #eee;
      }
      ul.tests > li.selected {
        background-color: #efefef;
      }
      ul.tests > li + li {
        border-top: 1px solid #ccc;
      }
      ul.tests > li > header {
        font-weight: bold;
      }
      .inputs {
        position: sticky;
        top: 0;
        border-bottom: 1px solid #ccc;
        padding: 9px 6px 6px 6px;
        background-color: #fff;
      }
      .inputs > div {
        display: flex;
        margin: 4px 0;
      }
      .inputs > div > input {
        flex-grow: 1;
      }
      .content {
        flex-grow: 1;
        width: 0;
        height: 100%;
        overflow: auto;
      }
      .block {
        padding: 6px;
      }
      .block:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      .block > div {
        display: flex;
        margin: 4px 0;
      }
      .block > div > ul {
        display: flex;
      }
      .block > div > ul > li {
        width: 1.6em;
        height: 1.6em;
        line-height: 1.6em;
        text-align: center;
        margin-right: 4px;
        background-color: #eee;
      }
      .view {
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
      }
      .logs > header {
        padding: 6px;
        position: sticky;
        top: 72px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
      }
      .block > div.index-bar > ul > li {
        background-color: #ddd;
      }
      .block.step {
        position: sticky;
        top: 105px;
        background-color: #fff;
        height: 40px;
        overflow: auto;
        background-color: #eee;
      }
      .github {
        position: fixed;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 #000;
        background-color: #fff;
        transform: scale(0.4);
        transition: transform 0.3s ease-in;
      }
      .github:hover {
        transform: scale(0.5);
      }

      .star {
        position: fixed;
        bottom: 6px;
        right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="board">
      <ul class="tests">
        <li
          v-for="(item,i) in testUnits"
          :key="i"
          @click="testSelect($event,item)"
          :class="{selected:item.from===from&&item.to===to}"
        >
          <header>{{item.desc}}</header>
          <div>
            <label>from:</label>
            <span>{{item.from}}</span>
          </div>
          <div>
            <label>to:</label>
            <span>{{item.to}}</span>
          </div>
        </li>
      </ul>
      <div class="content" ref="content">
        <header class="inputs">
          <div>
            <label>from:</label>
            <input type="text" v-model="from" />
          </div>
          <div>
            <label>to:</label>
            <input type="text" v-model="to" />
          </div>
        </header>
        <section class="block view">
          <header>图示</header>
          <index-bar :length="fromToMaxLength"></index-bar>
          <list-bar
            label="from"
            :list="fromList"
            :length="fromToMaxLength"
          ></list-bar>
          <list-bar
            label="to"
            :list="toList"
            :length="fromToMaxLength"
          ></list-bar>
          <div>
            <label>done:</label>
            <ul class="done">
              <li></li>
              <li v-for="item in done.split('')" :key="item">{{item}}</li>
            </ul>
          </div>
        </section>
        <div class="logs">
          <header>过程</header>
          <section
            class="block"
            :class="{step:item.type==='step'}"
            v-for="(item,i) in logsSnap"
            :key="i"
          >
            <template v-if="item.type==='step'">
              <header>{{item.title}}</header>
              <footer>{{item.desc}}</footer>
            </template>
            <template v-else-if="item.type==='index'">
              <index-bar :length="fromToMaxLength"></index-bar>
              <mark-bar
                label="e1"
                :mark="(n)=>item.e1===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↓"
              ></mark-bar>
              <mark-bar
                label="i"
                :mark="(n)=>item.i===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↓"
              ></mark-bar>
              <list-bar
                label="from"
                :list="fromList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx===item.i&&idx===item.e1&&!toList.includes(key)"
                highlight-color="red"
              ></list-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx===item.i&&idx===item.e2&&!fromList.includes(key)"
                highlight-color="green"
              ></list-bar>
              <mark-bar
                label="i"
                :mark="(n)=>item.i===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↑"
              ></mark-bar>
              <mark-bar
                label="e2"
                :mark="(n)=>item.e2===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↑"
              ></mark-bar>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
                :highlight="(n)=>!fromList.includes(item.container[n-1])"
                highlight-color="green"
              ></dom-bar>
            </template>
            <template v-else-if="item.type==='unknownSequence'">
              <header>【unknownSequence】</header>
              <index-bar :length="fromToMaxLength"></index-bar>
              <mark-bar
                label="e1"
                :mark="(n)=>item.e1===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↓"
              ></mark-bar>
              <mark-bar
                label="i"
                :mark="(n)=>item.i===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↓"
              ></mark-bar>
              <list-bar
                label="from"
                :list="fromList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx>=item.i&&idx<=item.e1"
                highlight-color="chocolate"
              ></list-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx>=item.i&&idx<=item.e2"
                highlight-color="chocolate"
              ></list-bar>
              <mark-bar
                label="i"
                :mark="(n)=>item.i===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↑"
              ></mark-bar>
              <mark-bar
                label="e2"
                :mark="(n)=>item.e2===n-2"
                :length="fromToMaxLength"
                mark-color="lavender"
                marker="↑"
              ></mark-bar>
            </template>
            <template v-else-if="item.type==='keyToNewIndexMap'">
              <header>【keyToNewIndexMap】</header>
              <index-bar
                :length="fromToMaxLength"
                :highlight="(n)=>item.keyToNewIndexMap.has(toList[n-1])"
                highlight-color="chocolate"
              ></index-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>item.keyToNewIndexMap.has(toList[idx])"
                highlight-color="chocolate"
              ></list-bar>
            </template>
            <template v-else-if="item.type==='5.2'">
              <index-bar
                :length="fromToMaxLength"
                :highlight="(n)=>n-1>=item.s1&&n-1<=item.e1"
                highlight-color="chocolate"
              ></index-bar>
              <mark-bar
                label="e1"
                :mark="(n)=>item.e1===n-2"
                :length="fromToMaxLength"
                marker="↓"
              ></mark-bar>
              <mark-bar
                label="i"
                :mark="(n)=>item.i===n-2"
                :length="fromToMaxLength"
                marker="↓"
              ></mark-bar>
              <list-bar
                label="from"
                :list="fromList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx===item.i&&item.title.includes('没了')"
                highlight-color="red"
                :highlight2="(key,idx)=>idx===item.i"
                highlight2-color="darkorchid"
              ></list-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>key===fromList[item.i]"
                highlight-color="darkorchid"
              ></list-bar>
              <header>{{item.title}}</header>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
              ></dom-bar>
            </template>
            <template v-else-if="item.type==='newIndexToOldIndexMap'">
              <header>
                【newIndexToOldIndexMap】“to”【未知的序列】在“from”【未知的序列】序号关系
              </header>
              <index-bar
                :length="fromToMaxLength"
                :highlight="(n)=>item.newIndexToOldIndexMap.includes(n)"
                highlight-color="darkorchid"
              ></index-bar>
              <list-bar
                label="from"
                :list="fromList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx>=item.i&&idx<=item.e1&&item.newIndexToOldIndexMap.includes(idx+1)"
                highlight-color="darkorchid"
                :highlight2="(key,idx)=>idx>=item.i&&idx<=item.e1"
                highlight2-color="chocolate"
              ></list-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx>=item.i&&idx<=item.e2"
                highlight-color="chocolate"
              ></list-bar>
              <div>
                <label>map:</label>
                <ul>
                  <li></li>
                  <li
                    v-for="(key,idx) in toList"
                    :key="idx"
                    :style="{
                        color:idx>=item.i&&idx<=item.e2?item.newIndexToOldIndexMap.map(o=>o-1)[idx-item.i]>-1?'darkorchid':'chocolate':''
                      }"
                  >
                    {{idx>=item.i&&idx<=item.e2?item.newIndexToOldIndexMap.map(o=>o-1)[idx-item.i]:''}}
                  </li>
                  <li
                    v-for="n in (fromList.length - toList.length)"
                    :key="n"
                    v-if="fromList.length>toList.length"
                  ></li>
                </ul>
              </div>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
              ></dom-bar>
            </template>
            <template v-else-if="item.type==='increasingNewIndexSequence'">
              <header>【increasingNewIndexSequence】最长增长序列</header>
              <div>
                <label>map:</label>
                <ul>
                  <li
                    v-for="(key,idx) in item.newIndexToOldIndexMap.map(o=>o-1)"
                    :key="idx"
                    :style="{
                        color:key>-1?'darkorchid':'chocolate'
                      }"
                  >
                    {{key}}
                  </li>
                </ul>
              </div>
              <div>
                <label>seq:</label>
                <ul>
                  <li
                    v-for="(key,idx) in item.newIndexToOldIndexMap.map(o=>o-1)"
                    :key="idx"
                    :style="{
                      color:item.increasingNewIndexSequence.includes(idx)?'darkturquoise':''
                    }"
                  >
                    {{item.increasingNewIndexSequence.includes(idx)?idx:''}}
                  </li>
                </ul>
              </div>
            </template>
            <template v-else-if="item.type==='anchor'">
              <header>
                从后往前遍历 to
                的【未知的序列】{{item.increasingNewIndexSequence.includes(item.nextIndex
                - item.i)&&item.nextIndex -
                item.i>0?'【最长增长序列】中，跳过':''}}
              </header>
              <index-bar :length="fromToMaxLength"></index-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>idx===item.nextIndex+1"
                highlight-color="blue"
                :highlight2="(key,idx)=>idx>=item.i&&idx<=item.e2"
                highlight2-color="chocolate"
              ></list-bar>
              <mark-bar
                label="nextIndex"
                :length="fromToMaxLength"
                :mark="(n)=>item.nextIndex+1===n-2"
                :mark2="(n)=>item.nextIndex===n-2"
                marker="←"
                marker2="↑"
              ></mark-bar>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
                :highlight3="(n)=>toList[item.nextIndex]===item.container[n-1] && item.increasingNewIndexSequence.includes(item.nextIndex - item.i)&&item.nextIndex - item.i>0"
                highlight3-color="darkturquoise"
                :highlight2="(n)=>toList[item.nextIndex+1]===item.container[n-1]"
                highlight2-color="blue"
                :highlight3="(n)=>toList[item.nextIndex]===item.container[n-1]"
                highlight3-color="green"
              ></dom-bar>
            </template>
            <template v-else-if="item.type==='anchorMount'">
              <header>插入新增元素</header>
              <index-bar :length="fromToMaxLength"></index-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>toList[item.nextIndex]===key"
                highlight-color="green"
                :highlight2="(key,idx)=>idx===item.nextIndex+1"
                highlight2-color="blue"
                :highlight3="(key,idx)=>idx>=item.i&&idx<=item.e2"
                highlight3-color="chocolate"
              ></list-bar>
              <mark-bar
                label="nextIndex"
                :length="fromToMaxLength"
                :mark="(n)=>item.nextIndex+1===n-2"
                :mark2="(n)=>item.nextIndex===n-2"
                marker="←"
                marker2="↑"
              ></mark-bar>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
                :highlight="(n)=>toList[item.nextIndex+1]===item.container[n-1]"
                highlight-color="blue"
                :highlight2="(n)=>toList[item.nextIndex]===item.container[n-1]"
                highlight2-color="green"
              ></dom-bar>
            </template>
            <template v-else-if="item.type==='anchorMove'">
              <header>移动元素</header>
              <index-bar :length="fromToMaxLength"></index-bar>
              <list-bar
                label="to"
                :list="toList"
                :length="fromToMaxLength"
                :highlight="(key,idx)=>toList[item.nextIndex]===key"
                highlight-color="green"
                :highlight2="(key,idx)=>idx===item.nextIndex+1"
                highlight2-color="blue"
                :highlight3="(key,idx)=>idx>=item.i&&idx<=item.e2"
                highlight3-color="chocolate"
              ></list-bar>
              <mark-bar
                label="nextIndex"
                :length="fromToMaxLength"
                :mark="(n)=>item.nextIndex+1===n-2"
                :mark2="(n)=>item.nextIndex===n-2"
                marker="←"
                marker2="↑"
              ></mark-bar>
              <dom-bar
                :length="fromToMaxLength"
                :container="item.container"
                :highlight="(n)=>toList[item.nextIndex+1]===item.container[n-1]"
                highlight-color="blue"
                :highlight2="(n)=>toList[item.nextIndex]===item.container[n-1]"
                highlight2-color="green"
              ></dom-bar>
            </template>
          </section>
        </div>
      </div>
    </div>
    <span class="star">Star me!</span>
    <a class="github" href="https://github.com/xachary/vue3-core-study">
      <svg width="98" height="96" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
          fill="#24292f"
        />
      </svg>
    </a>
    <script>
      const { createApp, ref, nextTick, watch, computed } = Vue

      const IndexBar = {
        template: `
          <div class="index-bar">
            <label>index:</label>
            <ul>
              <li>-1</li>
              <li v-for="n in length" :key="n" :style="{'color':highlight&&highlight(n)?highlightColor:''}">{{n-1}}</li>
            </ul>
          </div>
        `,
        props: {
          length: Number,
          highlight: Function,
          highlightColor: String,
        },
        setup() {
          //
        },
      }

      const markBar = {
        template: `
          <div>
            <label>{{label}}:</label>
            <ul>
              <li v-for="n in (length+1)" :key="n" :style="{background:mark&&mark(n)?markColor:mark2&&mark2(n)?mark2Color:''}">
                {{mark&&mark(n)?marker:mark2&&mark2(n)?marker2:''}}
              </li>
            </ul>
          </div>
        `,
        props: {
          length: Number,
          label: String,
          mark: Function,
          mark2: Function,
          marker: String,
          marker2: String,
          markColor: String,
          mark2Color: String,
        },
        setup() {
          //
        },
      }

      const listBar = {
        template: `
          <div>
            <label>{{label}}:</label>
            <ul>
              <li></li>
              <li v-for="(key,idx) in list" :key="idx" :style="highlightStyle(key,idx)">{{key}}</li>
              <li
                v-for="n in (length - list.length)"
                :key="n"
                v-if="length>list.length"
              ></li>
            </ul>
          </div>
        `,
        props: {
          length: Number,
          highlight: Function,
          highlightColor: String,
          highlight2: Function,
          highlight2Color: String,
          highlight3: Function,
          highlight3Color: String,
          label: String,
          list: Array,
        },
        setup(props) {
          return {
            highlightStyle: (key, idx) => {
              const color =
                props.highlight && props.highlight(key, idx)
                  ? props.highlightColor
                  : props.highlight2 && props.highlight2(key, idx)
                    ? props.highlight2Color
                    : props.highlight3 && props.highlight3(key, idx)
                      ? props.highlight3Color
                      : ''
              return { background: color, color: color ? '#fff' : '' }
            },
          }
        },
      }

      const DomBar = {
        template: `
          <div>
            <label>dom:</label>
            <ul>
              <li v-for="n in (length+1)" :key="n" :style="highlightStyle(n)">
                {{n-1>-1?container[n-1]:''}}
              </li>
            </ul>
          </div>
        `,
        props: {
          length: Number,
          highlight: Function,
          highlightColor: String,
          highlight2: Function,
          highlight2Color: String,
          highlight3: Function,
          highlight3Color: String,
          container: Array,
        },
        setup(props) {
          return {
            highlightStyle: n => {
              const color =
                props.container[n - 1] && props.highlight && props.highlight(n)
                  ? props.highlightColor
                  : props.highlight2 && props.highlight2(n)
                    ? props.highlight2Color
                    : props.highlight3 && props.highlight3(n)
                      ? props.highlight3Color
                      : ''
              return {
                background: color,
                color: color ? '#fff' : '',
              }
            },
          }
        },
      }

      const app = createApp({
        components: {
          IndexBar,
          markBar,
          listBar,
          DomBar,
        },
        setup() {
          const testUnits = ref([
            {
              desc: '测试步骤3 - 1',
              from: 'ab',
              to: 'abc',
            },
            {
              desc: '测试步骤3 - 2',
              from: 'ab',
              to: 'cab',
            },
            {
              desc: '测试步骤4 - 1',
              from: 'abc',
              to: 'ab',
            },
            {
              desc: '测试步骤4 - 2',
              from: 'abc',
              to: 'bc',
            },
            {
              desc: '测试步骤5 - 1',
              from: 'abcd',
              to: 'dcba',
            },
            {
              desc: '测试步骤5 - 2',
              from: 'abcd',
              to: 'dcab',
            },
            {
              desc: '测试步骤5 - 3',
              from: 'abgcdhef',
              to: 'aghebf',
            },
            {
              desc: '测试步骤5 - 4',
              from: 'aghebf',
              to: 'abgcdhef',
            },
            {
              desc: '测试步骤5 - 5',
              from: 'abgcdhef',
              to: 'becdiaf',
            },
            {
              desc: '测试步骤5 - 6',
              from: 'abcdefgh',
              to: 'abtkdecijgh',
            },
          ])

          const from = ref(testUnits.value[0].from)
          const to = ref(testUnits.value[0].to)
          const done = ref('')
          const logs = ref([])
          const logsSnap = ref([])
          let active = false
          const content = ref(null)

          const txtPatch = txt => {
            return txt.replace(/[^a-z]/g, '').replace(/([a-z])(.*)\1/, '$1$2')
          }

          watch(
            [() => from.value, () => to.value],
            () => {
              to.value = txtPatch(to.value)
              from.value = txtPatch(from.value)
              done.value = from.value
              active = false
              logs.value = []
              nextTick(() => {
                active = true
                done.value = to.value
                nextTick(() => {
                  setTimeout(() => {
                    active = false
                    logsSnap.value = [...logs.value]
                    content.value && content.value.scroll(0, 0)
                  }, 100)
                })
              })
            },
            {
              immediate: true,
            },
          )

          const testSelect = ({ currentTarget }, item) => {
            from.value = item.from
            to.value = item.to
            currentTarget.scrollIntoViewIfNeeded()
          }

          window.addEventListener('message', ({ detail }) => {
            if (active) {
              console.log(detail)
              logs.value.push(detail)
            }
          })

          const fromList = computed(() => {
            return from.value.split('')
          })

          const toList = computed(() => {
            return to.value.split('')
          })

          const fromToMaxLength = computed(() =>
            Math.max(fromList.value.length, toList.value.length),
          )

          return {
            testUnits,
            testSelect,
            from,
            to,
            fromList,
            toList,
            fromToMaxLength,
            done,
            logs,
            logsSnap,
            content,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
